@import './abstracts/variables';
@import './abstracts/mixin';


.pricing {
    min-width: 320px;
    background-image: url('../images/pricing-bg.png')/*current image -*/;
    @include padding;
    @include grid;
    grid-template-areas: 
    "title"
    "card1"
    "card2"
    "card3"
    "card4"
    ;
    gap: 18px;

    @media (min-width: $bp-tablet) {
        width: 100%; 
        grid-template-areas: 
        "title title" 
        "card1 card2"
        "card3 card4"
        ;
    }
}

.pricing__title {
    @include monserrat;
    padding: 14px 0 32px;
    font-size: 28px;
    line-height: 42px;
    color: $main-color;
    text-align: center;

    // @media (min-width: $bp-tablet) {
    //     padding: 88px 0 39px;
    //     font-size: 42px;
    //     line-height: 44px;
    // }
}

.cards {
    @include flex; 
    width: 257px;

    h3,
    span,
    button {
        @include monserrat(400); 
        color: $main-color;
        text-align: center;
    }

    h3,
    p,
    .per,
    button {
        text-transform: uppercase;
    }

    h3 {
        background-color: rgba(255, 255, 255, 0.3); 
        font-size: 24px;
        line-height: 24px; 
        padding: 36px 0 36px;
        background-size: cover;
        width: 100%;
    }

    div {
        @include flex; 
        background-color: rgba(255, 255, 255, 0.2);   
        background-size: cover;
        width: 100%;     
    }  

    p {
        font-size: 60px;
        line-height: 62px;  
        padding: 30px 0 20px; 
        position: relative;
        @include monserrat; 
        color: $main-color;
        text-align: center;    
    }

    p::after {
        position: absolute;
        content: "";

    }
}

.pricing__card-item {
    font-size: 14px;
    line-height: 16px;
}

.pricing__card-license {
    padding: 73px 0 37px;
    font-size: 16px;
    line-height: 18px;
}

.pricing__card-btn {
    list-style: none;
}


/*grid areas----*/
.pricing__title {
    grid-area: title;  
}

.pricing__card1 {
    grid-area: card1;
}

.pricing__card2 {
    grid-area: card2;
}

.pricing__card3 {
    grid-area: card3;
}

.pricing__card4 {
    grid-area: card4;
}