@import './abstracts/variables';
@import './abstracts/mixin';

.revolutionary {
    min-width: 300px;
    @include grid;
    @include padding;


    @media (min-width: $bp-tablet) {
        min-width: 100%; 

    }
}

.revolutionary__title {
    color: #635C73;
    @include monserrat;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 80px 0 27px ;
    text-align: center;
    width: 273px;

    @media (min-width: $bp-tablet) {
        width: 599px;
        padding: 93px 0 27px;
        font-size: 42px;
        line-height: 42px;
    }
}

.revolutionary__text {
    color: #323232;
    @include lato(400);
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 36px;
    text-align: center;

    @media (min-width: $bp-tablet) {
        font-size: 21px;
        line-height: 32px;    
    }

}

.revolutionary__buttons {
    @include flex(center, center, row);
    gap: 10px;
    width: 280px;
    flex-wrap: wrap;

    @media (min-width: $bp-tablet) {
        flex-wrap: nowrap; 
    }
}


.rev-btn {
    @include flex(center, center, row);
    gap: 5px;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: var(--base-text-weight-medium, 500);
    cursor: pointer;
    border: 1px solid #c9d1d9;
    border-radius: 6px;
    background: #21262d;
    color: #c9d1d9;
}

.oction {
    color: #7d8590;
    fill: currentColor;
}

.counter {
    background: #30363d;
    padding: 0 5px;
    border-radius: 50%;
}

.dropdown-caret {
    border-bottom-color: #0000;
    border-left-color: #0000;
    border-right-color: #0000;
    border-style: solid;
    border-width: var(--primer-borderWidth-thicker, 4px) var(--primer-borderWidth-thicker, 4px) 0;
    content: "";
    margin-left: 4px;
    opacity: .8;
    }
